{% extends 'layout/app.twig' %}

{% set meta = {
    title: 'Activity Logs',
} %}

{% set activePage = 'activity' %}

{% block body %}
    <div class="content">
        <h2 class="content-heading">
            <span class="badge badge-secondary badge-pill float-right">
                Page
                {% if totalPages > 0 %}
                    {{ currentPage }}
                {% else %}
                    0
                {% endif %}
                of {{ totalPages }}
            </span>

            <div class="float-right mr-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <input type="text" class="form-control border-left-0" id="query" name="query" placeholder="Search...">
                </div>
            </div>

            Activity Logs
        </h2>

        <div class="block block-rounded block-bordered">
            <div class="block-content">
                <table class="table table-sm table-vcenter">
                    <thead>
                        <tr>
                            <th>Log Message</th>
                            <th>IP</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="results">
                        {% for item in logs %}
                            <tr>
                                <td>{{ item.logMessage }}</td>
                                <td>{{ item.ipAddress }}</td>
                                <td>{{ item.timestamp.date | date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="block-content">
                {% spaceless %}
                    {% if totalPages > 1 %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if currentPage > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url('activity.index', {}, {query: {page: currentPage-1}}) }}">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% if currentPage < totalPages %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url('activity.index', {}, {query: {page: currentPage+1}}) }}">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endspaceless %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#query').on('keyup', function (e) {
            // Get the search query
            let query = $(this).val();

            delay(function() {
                jQuery.ajax({
                    method: 'get',
                    url: '{{ url('activity.index/search') }}?q=' + query,

                    success: function (response) {
                        $('#results').html(response);
                    },

                    error: function (response) {
                    }
                });
            }, 700);
        });

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();
    </script>
{% endblock %}