{% extends 'layout/app.twig' %}

{% set meta = {
    title: 'Edit Product: ' ~ product.name,
} %}

{% set activePage = 'products' %}

{% block cssBefore %}
    <link rel="stylesheet" id="css-main" href="{{ basePath('/static/js/plugins/simplemde/simplemde.min.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <h2 class="content-heading">
            <button type="button" class="btn btn-hero-danger btn-hero-sm float-right" data-target="#delete-modal" data-toggle="modal">
                <i class="fas fa-trash-alt"></i>
                Delete
            </button>

            <a href="{{ url('product.index/version/add') }}" class="btn btn-hero-secondary btn-hero-sm float-right mr-2">
                <i class="fas fa-plus-circle"></i>
                Add Version
            </a>

            <a href="{{ url('product.index') }}" class="btn btn-hero-secondary btn-hero-sm float-right mr-2">
                <i class="fas fa-arrow-circle-left"></i>
                All Products
            </a>

            Edit Product: {{ product.name }}
        </h2>

        <div class="row">
            <div class="col-8">
                <div class="block block-rounded">
                    <div class="block-content">
                        {{ form().prepare() }}
                        {{ form().openTag(form) | raw }}
                            {{ formRow(form.get('csrf')) }}

                            <div class="form-group">
                                {{ formRow(form.get('name')) }}
                            </div>

                            <div class="form-group">
                                {{ formRow(form.get('description')) }}
                            </div>

                            <div class="form-group">
                                {{ formRow(form.get('envatoProduct')) }}
                            </div>

                            <div class="form-group">
                                {{ formRow(form.get('submit')) }}
                            </div>
                        {{ form().closeTag(form) | raw }}
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="block block-rounded">
                    <div class="block-content">
                        <table class="table table-striped table-hover table-borderless table-vcenter font-size-sm">
                            <thead>
                                <tr class="text-uppercase">
                                    <th class="font-w700">Version</th>
                                    <th class="d-none d-sm-table-cell font-w700">Date</th>
                                    <th class="font-w700">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for version in product.versions %}
                                    <tr>
                                        <td>
                                            <span class="font-w600">{{ version.versionNumber }}</span>
                                        </td>
                                        <td class="d-none d-sm-table-cell">
                                            <span class="font-size-sm text-muted">{{ version.timestamp.date | date }}</span>
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ url('product.index/version/edit', {hash: version.hash}) }}">
                                                <i class="fas fa-fw fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# DELETE PRODUCT MODAL #}
    <div class="modal fade" id="delete-modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-popout">
            <div class="modal-content">
                {{ form().prepare() }}
                {{ form().openTag(deleteForm) | raw }}
                    {{ formRow(deleteForm.get('delete_csrf')) }}

                    <div class="modal-body py-5 text-center">
                        <h3>
                            You're about to delete this product, <br>
                            are you sure?
                        </h3>
                        {{ formRow(deleteForm.get('submit')) }}
                    </div>
                {{ form().closeTag(deleteForm) | raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ basePath('/static/js/plugins/simplemde/simplemde.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(function(){ Dashmix.helpers(['simplemde']); });
    </script>
{% endblock %}