{% extends 'layout/app.twig' %}

{% set meta = {
    title: 'Add Version',
} %}

{% set activePage = 'products' %}

{% block cssBefore %}
    <link rel="stylesheet" id="css-main" href="{{ basePath('/static/js/plugins/simplemde/simplemde.min.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <h2 class="content-heading">
            Add Version
        </h2>

        <div class="block block-rounded">
            <div class="block-content">
                {{ flashMessenger().render('success', ['alert', 'alert-success']) | raw }}
                {{ flashMessenger().render('error', ['alert', 'alert-danger']) | raw }}

                {{ form().prepare() }}
                {{ form().openTag(form) | raw }}
                    {{ formRow(form.get('csrf')) }}

                    <div class="form-group">
                        {{ formRow(form.get('product')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('versionNumber')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('changelog')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('packagedApp')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('submit')) }}
                    </div>
                {{ form().closeTag(form) | raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ basePath('/static/js/plugins/simplemde/simplemde.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(function(){ Dashmix.helpers(['simplemde']); });
    </script>
{% endblock %}