{% extends 'layout/app.twig' %}

{% set meta = {
    title: 'Edit License: ' ~ license.name,
} %}

{% set activePage = 'licenses' %}

{% block cssBefore %}
    <link rel="stylesheet" href="{{ basePath('/static/js/plugins/simplemde/simplemde.min.css') }}">
    <link rel="stylesheet" href="{{ basePath('/static/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <h2 class="content-heading">
            <button type="button" class="btn btn-hero-danger btn-hero-sm float-right" data-target="#delete-modal" data-toggle="modal">
                <i class="fas fa-trash-alt"></i>
                Delete
            </button>

            <a href="{{ url('license.index') }}" class="btn btn-hero-secondary btn-hero-sm float-right mr-2">
                <i class="fas fa-arrow-circle-left"></i>
                All Licenses
            </a>

            Edit License: {{ license.licenseCode }}
        </h2>

        <div class="block block-rounded block-fx-shadow">
            <div class="block-content">
                {{ form().prepare() }}
                {{ form().openTag(form) | raw }}
                    {{ formRow(form.get('csrf')) }}

                    <div class="form-group">
                        {{ formRow(form.get('licenseCode')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('validForEnvatoUsername')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('licensedIp')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('licensedDomain')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('installLimit')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('licenseExpirationDate')) }}
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-switch mb-1">
                            {{ formCheckbox(form.get('isBlocked')) }}
                            <label class="custom-control-label" for="isBlocked">{{ formLabel(form.get('isBlocked')) }}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('note')) }}
                    </div>

                    <div class="form-group">
                        {{ formRow(form.get('submit')) }}
                    </div>
                {{ form().closeTag(form) | raw }}
            </div>
        </div>
    </div>

    {# DELETE LICENSE MODAL #}
    <div class="modal fade" id="delete-modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-popout">
            <div class="modal-content">
                {{ form().prepare() }}
                {{ form().openTag(deleteForm) | raw }}
                    {{ formRow(deleteForm.get('delete_csrf')) }}

                    <div class="modal-body py-5 text-center">
                        <h3>
                            You're about to delete this license, <br>
                            are you sure?
                        </h3>
                        {{ formRow(deleteForm.get('submit')) }}
                    </div>
                {{ form().closeTag(deleteForm) | raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ basePath('/static/js/plugins/simplemde/simplemde.min.js') }}"></script>
    <script src="{{ basePath('/static/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(function(){ Dashmix.helpers(['simplemde', 'datepicker']); });
    </script>
{% endblock %}