{% extends 'layout/app.twig' %}

{% set meta = {
    title: 'Licenses',
} %}

{% set activePage = 'licenses' %}

{% block body %}
    <div class="content">
        <h2 class="content-heading">
            <a href="{{ url('license.index/add') }}" class="btn btn-hero-primary btn-hero-sm float-right">
                Add License
            </a>

            <button type="button" class="btn btn-hero-secondary btn-hero-sm float-right mr-1" data-toggle="modal" data-target="#license-modal">
                <i></i>
                Verify License Code
            </button>

            <div class="float-right mr-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <input type="text" class="form-control border-left-0" id="query" name="query" placeholder="Search...">
                </div>
            </div>

            All Licenses
        </h2>

        <div class="block block-rounded block-bordered">
            <div class="block-content">
                <table class="table table-sm table-vcenter">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>IP</th>
                            <th>Domain</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="results">
                        {% for item in licenses %}
                            <tr>
                                <td>
                                    {{ item.licenseCode | length > 40 ? item.licenseCode | slice(0, 40) ~ '...' : item.licenseCode }}
                                </td>
                                <td>{{ item.licensedIp }}</td>
                                <td>{{ item.licensedDomain }}</td>

                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{{ url('license.index/edit', {code: item.licenseCode}) }}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="block-content">
                {% spaceless %}
                    {% if totalPages > 1 %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if currentPage > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url('license.index', {}, {query: {page: currentPage-1}}) }}">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% if currentPage < totalPages %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url('license.index', {}, {query: {page: currentPage+1}}) }}">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endspaceless %}
            </div>
        </div>
    </div>

    {# VERIFY LICENSE MODAL #}
    <div class="modal fade" id="license-modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-popout">
            <div class="modal-content">
                {{ form().prepare() }}
                {{ form().openTag(form) | raw }}
                    <div class="modal-header">
                        <h5 class="modal-title">Verify License Code</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body pb-1">
                        {# VALID LICENSE ALERT #}
                        <div class="alert alert-success animated bounceIn" id="alert-success" style="display: none;">
                            <p class="mb-0">
                                <i class="fas fa-fw fa-check"></i>
                                Success! This license code is <strong>valid</strong>!
                            </p>
                        </div>

                        {# INVALID LICENSE ALERT #}
                        <div class="alert alert-danger animated bounceIn" id="alert-danger" style="display: none;">
                            <p class="mb-0">
                                <i class="fas fa-fw fa-exclamation-circle"></i>
                                Error! This license code is <strong>invalid</strong>!
                            </p>
                        </div>

                        <div class="form-group">
                            {{ formRow(form.get('code')) }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>
                        {{ formRow(form.get('submit')) }}
                    </div>
                {{ form().closeTag(form) | raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var validLicenseAlert = jQuery('#alert-success');
        var invalidLicenseAlert = jQuery('#alert-danger');

        jQuery('form#licenseVerify').on('submit', function (e) {
            e.preventDefault();
            validLicenseAlert.hide();
            invalidLicenseAlert.hide();

            jQuery.ajax({
                method: 'POST',
                url: '{{ url('license.index/verify') }}',
                data: {
                    code: $(this).find('#code').val()
                },

                success: function (response) {
                    invalidLicenseAlert.hide();
                    validLicenseAlert.show();
                },

                error: function (response) {
                    validLicenseAlert.hide();
                    invalidLicenseAlert.show();
                }
            });
        });

        $('#query').on('keyup', function (e) {
            // Get the search query
            let query = $(this).val();

            delay(function() {
                jQuery.ajax({
                    method: 'get',
                    url: '{{ url('license.index/search') }}?q=' + query,

                    success: function (response) {
                        $('#results').html(response);
                    },

                    error: function (response) {
                    }
                });
            }, 700);
        });

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();
    </script>
{% endblock %}