{% extends 'layout/app.twig' %}

{% set meta = {
    title: 'Installations',
} %}

{% set activePage = 'installations' %}

{% block body %}
    <div class="content">
        <h2 class="content-heading">
            All Installations
        </h2>

        <div class="block block-rounded block-bordered">
            <div class="block-content">
                <div class="table-responsive">
                    <table class="table table-sm table-vcenter">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>License</th>
                                <th>Product</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in installations %}
                                <tr data-hash="{{ item.hash }}">
                                    <td>{{ item.id }}</td>
                                    <td>
                                        <a href="javascript:void(0);" class="license-modal" data-license-hash="{{ item.license.licenseCode }}">
                                            {{ item.license.licenseCode }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="product-modal" data-product-hash="{{ item.product.hash }}">
                                            {{ item.product.name }}
                                        </a>
                                    </td>
                                    <td>{{ item.timestamp.date | date }}</td>

                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary launch-modal">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# VIEW INSTALL MODAL #}
    <div class="modal fade" id="view-modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-popout">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Installation</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body pb-1" id="modal-body">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# PRODUCT MODAL #}
    <div class="modal fade" id="product-view-modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-popout">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Product</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body pb-1" id="product-modal-body">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# LICENSE MODAL #}
    <div class="modal fade" id="license-view-modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-popout">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View License</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body pb-1" id="license-modal-body">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        let modal = $('#view-modal');
        let productModal = $('#product-view-modal');
        let licenseModal = $('#license-view-modal');

        // Installation modal
        $('body').on('click', '.launch-modal', function (e) {
            e.preventDefault();
            let hash = $(this).closest('tr').data('hash');

            jQuery.ajax({
                method: 'get',
                url: '/installs/' + hash + '/view',

                success: function (response) {
                    modal.modal('show');
                    modal.find('#modal-body').html(response);
                },

                error: function (response) {
                    modal.modal('hide');
                    modal.find('#modal-body').html('');
                }
            });
        });

        // Product modal
        $('body').on('click', '.product-modal', function (e) {
            e.preventDefault();
            let hash = $(this).closest('a').data('product-hash');

            jQuery.ajax({
                method: 'get',
                url: '/products/' + hash + '/view',

                success: function (response) {
                    productModal.modal('show');
                    productModal.find('#product-modal-body').html(response);
                },

                error: function (response) {
                    productModal.modal('hide');
                    productModal.find('#product-modal-body').html('');
                }
            });
        });

        // License modal
        $('body').on('click', '.license-modal', function (e) {
            e.preventDefault();
            let hash = $(this).closest('a').data('license-hash');

            jQuery.ajax({
                method: 'get',
                url: '/licenses/' + hash + '/view',

                success: function (response) {
                    licenseModal.modal('show');
                    licenseModal.find('#license-modal-body').html(response);
                },

                error: function (response) {
                    licenseModal.modal('hide');
                    licenseModal.find('#license-modal-body').html('');
                }
            });
        });
    </script>
{% endblock %}